@font-face {
	font-family: "SF Pro Text";
	src: url(../fonts/SF-Pro-Text-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: "SF Pro Text";
	src: url(../fonts/SF-Pro-Text-Light.woff) format("woff");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: "SF Pro Text";
	src: url(../fonts/SF-Pro-Text-Medium.woff) format("woff");
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: "SF Pro Text";
	src: url(../fonts/SF-Pro-Text-Semibold.woff) format("woff");
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: "SF Pro Text";
	src: url(../fonts/SF-Pro-Text-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: "iCielBC Cubano";
	src: url(../fonts/ICIELBCCUBANO-NORMAL.otf) format("opentype");
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: "HLT JaneAusten";
	src: url(../fonts/HLT-JaneAust.ttf) format("opentype");
	font-weight: 600;
	font-style: normal
}

html {
	overflow-x: hidden;
	font-size: 16px
}

a {
	text-decoration: none
}

body {
	margin: 0;
	font-family: SF Pro Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.4;
	color: #1a1a1a;
	text-align: left
}

.banner {
	min-height: 780px;
	background: url(../images/bg_banner.jpg) top center no-repeat;
	background-size: cover;
	padding-bottom: 60px
}

.text__1 {
	font-family: iCielBC Cubano;
	font-size: 3.5rem;
	line-height: 67px;
	color: #6fbe44;
	font-weight: 600
}

.text__2 {
	font-family: iCielBC Cubano;
	font-size: 7rem;
	line-height: 130px;
	color: #f7d925;
	font-weight: 600;
	text-shadow: 3px 4px #1c73c2
}

.text__3 {
	font-family: iCielBC Cubano;
	font-size: 3.5rem;
	line-height: 60px;
	color: #6fbe44;
	font-weight: 600
}

.banner {
	position: relative
}

.banner .description {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 25px;
	background: url(../images/bg_desc.png) center center no-repeat;
	background-size: auto
}

.top__face {
	min-height: 800px;
	background: url(../images/bg_face.png) center center no-repeat;
	background-size: cover;
	padding-bottom: 60px
}

.title_top__face {
	font-family: iCielBC Cubano;
	font-size: 3.5rem;
	line-height: 67px;
	text-align: center;
	color: #fff;
	margin-top: 100px;
	margin-bottom: 40px;
	text-transform: uppercase
}

.card-item {
	margin-bottom: 20px
}

.card-name {
	font-family: SF Pro Text;
	font-size: 1.5rem;
	line-height: 29px;
	text-align: center;
	color: #fff;
	margin-bottom: 15px
}

.card-post {
	width: 220px;
	height: 54px;
	background: url(../images/Union.png) top left no-repeat;
	background-size: 100%;
	display: block;
	margin: auto;
	font-family: SF Pro Text;
	font-size: 1.25rem;
	text-align: center;
	text-transform: uppercase;
	color: #111;
	padding-top: 16px
}

.quest {
	min-height: 800px;
	background: url(../images/bg_quest.png) center center no-repeat #f7d925;
	background-size: cover;
	padding-bottom: 80px
}

.quest-title {
	font-family: iCielBC Cubano;
	font-size: 3.5rem;
	line-height: 67px;
	color: #433d1b;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
	position: relative;
	display: table;
	margin-left: auto;
	margin-right: auto
}

.quest-subtitle {
	font-family: SF Pro Text;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #433d1b;
	margin-bottom: 60px
}

.quest-icon {
	position: absolute;
	right: -120px;
	top: -10px
}

.quest-item {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center
}

.media-item {
	display: flex;
	margin-bottom: 40px;
	min-height: 205px;
	justify-items: center;
	align-items: center
}
.media-item img {
    max-height: 205px;
}

.quest-item-title {
	text-align: center;
	font-family: SF Pro Text;
	font-size: 1.5rem;
	line-height: 29px;
	color: #433d1b;
	margin-bottom: 15px;
	font-weight: 600
}

.quest-item-caption {
	font-family: SF Pro Text;
	font-size: 1.125rem;
	line-height: 21px;
	text-align: center;
	font-weight: 300;
	color: #433d1b
}

.box__gift {
	min-height: 800px;
	background: url(../images/bg_gift.png) center center no-repeat #6fbe44;
	background-size: auto 476px;
	padding-bottom: 130px;
	position: relative
}

.img_gift {
	margin-top: 130px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%
}

.description_gift {
	position: absolute;
	top: 130px;
	min-height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	left: 0;
	right: 0;
	margin: auto
}

.gift__title {
	font-family: iCielBC Cubano;
	font-size: 3.5rem;
	line-height: 67px;
	color: #fff
}

.description_gift ul {
	font-family: SF Pro Text;
	font-size: 1.125rem;
	line-height: 24px;
	color: #fff;
	text-align: center;
	font-weight: 300
}

.description_gift ul li {
	margin-bottom: 20px
}

.description_gift ul span {
	font-family: SF Pro Text;
	font-size: 1.125rem;
	line-height: 24px;
	font-weight: 700;
	color: #f7d925
}

.box__quote {
	min-height: 800px;
	background: url(../images/bg_quote.jpg) top right no-repeat #68ddb3;
	background-size: cover;
	padding-bottom: 80px;
	position: relative
}

.box__quote--img {
	margin-top: 60px;
	margin-bottom: 60px
}

.quote_desc {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px
}

.quote_body_text1 {
	font-family: iCielBC Cubano;
	font-size: 3.5rem;
	line-height: 67px;
	color: #53618a
}

.quote_body_text2 {
	font-family: SF Pro Text;
	font-size: 1.25rem;
	line-height: 24px;
	color: #000;
	font-weight: 300
}

.quote_media {
	padding-top: 10px;
	margin-right: 25px
}

.quote_body {
	display: flex;
	flex-direction: column
}

.countdown {
	min-height: 800px;
	background: url(../images/bg_footer.png) top right no-repeat #061927;
	background-size: cover;
	padding-bottom: 60px;
	position: relative
}

.countdown .timer {
	margin: auto;
	font-family: sans-serif;
	color: #fff;
	display: table;
	font-weight: 100;
	text-align: center;
	font-size: 30px
}

.countdown .timer .next {
	font-size: 48px;
	line-height: 58px;
	font-family: iCielBC Cubano;
	position: relative;
	color: #6fbe44;
	top: -70px
}

.countdown .timer span {
	width: 132px;
	height: 132px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-family: iCielBC Cubano;
	font-size: 64px;
	line-height: 122px;
	color: #6fbe44;
	background: rgba(255, 255, 255, .01);
	border: 3px solid #6fbe44
}

.countdown .timer div {
	padding: 10px;
	display: inline-block
}

.countdown .timer .smalltext {
	font-size: 18px;
	line-height: 24px;
	color: #6fbe44;
	font-weight: 300;
	display: block;
	padding: 10px;
	width: auto
}

.countdown .timer #time-up {
	margin: 8px 0 0;
	text-align: left;
	font-size: 14px;
	font-style: normal;
	color: #000;
	font-weight: 500;
	letter-spacing: 1px
}

.countdown_body {
	display: flex;
	min-height: 650px;
	justify-content: space-between;
	margin-top: 120px;
	width: 100%;
	flex-direction: column
}

.countdown_title {
	font-family: iCielBC Cubano;
	font-size: 3.5rem;
	line-height: 67px;
	color: #fff;
	text-align: center;
	margin-bottom: 60px
}

.logo_bottom img {
	display: block;
	margin: 20px auto
}

.footer_title {
	font-family: SF Pro Text;
	font-size: 1.125rem;
	line-height: 21px;
	text-align: center;
	color: #fff;
	opacity: .8;
	margin-top: 40px;
	margin-bottom: 15px
}

.footer_body {
	font-family: SF Pro Text;
	font-size: .875rem;
	line-height: 22px;
	text-align: center;
	color: #fff;
	opacity: .8
}

@media (max-width:575.98px) {
	html {
		overflow-x: hidden;
		font-size: 13px
	}
	.countdown .countdown__header .subtitle__gapo--blue {
		position: relative;
		top: 20px;
		padding-left: 20px;
		font-size: 28px;
		line-height: 24px
	}
	.countdown .timer span {
		-webkit-transform: unset;
		-moz-transform: unset;
		-ms-transform: unset;
		-o-transform: unset;
		transform: unset
	}
	.countdown .timer .next {
		font-size: 37px;
		line-height: 27px;
		font-family: iCielBC Cubano;
		position: relative;
		top: -50px;
		display: none
	}
	.countdown .timer span {
		width: 60px;
		height: 60px;
		font-size: 26px;
		line-height: 52px
	}
	.description_gift {
		position: absolute;
		top: 75px;
		min-height: 588px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		left: 0;
		right: 0;
		margin: auto
	}
	.box__gift {
		min-height: 700px
	}
	.box__quote {
		min-height: 600px;
		background: url(../images/bg_quote.jpg) top left no-repeat #68ddb3;
		background-size: cover;
		padding-bottom: 60px;
		position: relative
	}
	.text__2 {
		font-family: iCielBC Cubano;
		font-size: 4rem;
		line-height: 84px;
		color: #f7d925;
		font-weight: 600;
		text-shadow: 3px 4px #1c73c2
	}
}

@media (max-width:320px) {
	.countdown .timer span {
		-webkit-transform: unset;
		-moz-transform: unset;
		-ms-transform: unset;
		-o-transform: unset;
		transform: unset
	}
	.countdown .timer .next {
		font-size: 37px;
		line-height: 27px;
		font-family: iCielBC Cubano;
		position: relative;
		top: -50px
	}
	.countdown .timer span {
		width: 40px;
		height: 40px;
		font-size: 16px;
		line-height: 32px
	}
}